.box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2%;

}

.content {
  padding: 10px 60px ;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30%;
  height: 680px;
  border: 1px solid rgba(0, 0, 0, 0.171);
  border-radius: 15px;
  box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.151);
}

span {
  margin-top: 15px;
  font-size: 25px;
}

img {
  width: 160px;
  height: 160px;
}

.inputs {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
}

.buttons {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 3px;
}

@media only screen and (max-width : 1300px) {
  .content {
    width: 35%;
  }
}

@media only screen and (max-width : 900px) {
  .content {
    width: 50%;
  }
}

@media only screen and (max-width : 600px) {
  .content {
    width: 65%;
    border:none;

    box-shadow: none;
  }
}

@media only screen and (max-width : 450px) {
  .content {
    width: 90%;
    border:none;

    box-shadow: none;
  }
  img {
    width: 130px;
    height: 130px;
  }
  span {
    margin-top: 15px;
    font-size: 16px;
  }
}
