<div class="content">


  <div class="row-menu">
    <div>
      <div class="btn-fun">
        <app-button pathIcon="/assets/icons/notas-de-dinheiro-simples.svg" classe="circle"
          typeBtn="circle"></app-button>
      </div>
      <span class="label">Depósito</span>

    </div>
    <div>
      <div class="btn-fun">
        <app-button pathIcon="/assets/icons/aviao-de-papel.svg" classe="circle" typeBtn="circle"></app-button>
      </div>
      <span class="label">Transferir</span>

    </div>
    <div>
      <div class="btn-fun">
        <app-button pathIcon="/assets/icons/documento.svg" classe="circle" typeBtn="circle"></app-button>
      </div>
      <span class="label">Histórico</span>

    </div>



  </div>

  <div class="row-menu">


    <div>
      <div class="btn-fun">
        <app-button pathIcon="/assets/icons/coracao.svg" classe="circle" typeBtn="circle"></app-button>
      </div>
      <span class="label">Favoritos</span>

    </div>
    <div>
      <div class="btn-fun">
        <app-button pathIcon="/assets/icons/savings_FILL.svg" classe="circle" typeBtn="circle"></app-button>
      </div>
      <span class="label">Cofrinho</span>

    </div>
    <div>
      <div class="btn-fun">
        <app-button pathIcon="/assets/icons/do-utilizador.svg" classe="circle" typeBtn="circle"></app-button>
      </div>
      <span class="label">Meus dados</span>

    </div>



  </div>



</div>
